head
  title MyHomework
  meta(charset='utf-8')
  link(rel='stylesheet' href='http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css')

body
  .container
      h2.text-center MyHomework

      .main
        +signup_or_register

  script(src='http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js')
  script(src='http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js')