if user
  .single-assignment.col-sm-offset-2.col-sm-8
    .assignment_info
      dl.dl-horizontal
        dt 标题
        dd #{assignment.title}
        dt 描述
        dd #{assignment.description}
        dt 要求
        dd #{assignment.require}

      p.deadline.bg-info 尚未到截止日期
      p.deadline.bg-danger 已经到达截止日期

    if isStudent
      +submit_homework
    if isTeacher
      +show_homework_and_grade