.submit-homework
  if homework
    .alreary
      p.bg-info 你已经提交过了
      p #{homework.time}
      p #{homework.content}
      .btn.btn-primary.update-homework 更改
  else
    form.form_submit.form-horizontal
      .form-group
        label.col-sm-2.control-label(for='homework_content') 内容
          .col-sm-8
            textarea.form-control(name='homework_content' id='homework_content' placeholder='你的作业写在这里' required)
      .form-group
        input(type='hidden' name='assignment-id' value='#{assignmentId}')
      .form-group
        .col-sm-offset-2.col-sm-8
          .btn.btn-primary.submit-homework-btn 提交

  .update-homework-form
    form.form_submit_update.form-horizontal
      .form-group
        label.col-sm-2.control-label(for='update-homework_content') 内容
          .col-sm-8
            textarea.form-control(name='update-homework_content' id='update-homework_content' placeholder='你的作业写在这里' required)
      .form-group
        input(type='hidden' name='update-assignment-id' value='#{assignmentId}')
      .form-group
        .col-sm-offset-2.col-sm-8
          .btn.btn-primary.update-homework-btn 提交