form#add-user(data-parsley-validate)
  .ui.labeled.input
    input(type='text' name='username' placeholder='' data-parsley-pattern="" data-parsley-trigger='keyup' required)

  .ui.labeled.input
    input(type='password' name='password' placeholder='' data-parsley-pattern='2' data-parsley-trigger='keyup' required)

  .ui.labeled.input
    input(type='text' name='name' placeholder='' data-parsley-minlength='2' data-parsley-trigger='keyup' required)

  .ui.labeled.input
    input(type='radio' name='identity' value='Student') Student

  .ui.labeled.input
    input(type='radio' name='identity' value='Teacher') Teacher

  .button.clear 清除
  .button.submit 提交
